[submodule "spirv-cross"]
	path = external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
	branch = main
[submodule "spirv-headers"]
	path = external/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
	branch = main
[submodule "spirv-tools"]
	path = external/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
	branch = main
[submodule "DirectXShaderCompiler"]
	path = external/DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler.git
	branch = main
